.window{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: 10px solid rgb(0, 128, 0);
    border-radius: 10px;
}
.channelName{
    color:rgb(0, 0, 0);
}
.channelMessages{
    width: 600px;
    border: 3px solid rgb(0, 128, 0);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.input-window{
    height: 70px;
    width: 650px;
    border: 3px solid rgb(0, 128, 0);
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}
.sendBtn{
    height: 70px;
    width: 660px;
    border: 3px solid rgb(0, 128, 0);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    font-size: 30px;
}