/* ChannelView.css */
.channel-window {
  display: flex;
  flex-direction: column;
  height: calc(90vh - 20px); 
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  border: 3px solid rgb(0, 128, 0);
  border-radius: 10px;
}

.channelName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.channelMessages {
  flex: 1;                 
  overflow-y: auto;
  justify-items: end;
  border: 2px solid rgb(0, 128, 0);
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
.channel-message{
  padding:10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.message {
  margin-bottom: 10px;
}
.channel-input-area{
  display: flex;
  flex-direction: row;
  gap:10px;
}
.channel-input {
  display: flex;
  font-size: 20px;
  width: 80%;
}
.channel-send-btn{
  width: 130px;
  height: 50px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(15, 179, 0);
}
.channel-send-btn:hover{
  background-color: rgb(2, 88, 2);
  cursor: pointer;
}
.input-window {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border-radius: 6px;
  border: 2px solid rgb(0, 128, 0);
}

.sendBtn {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 6px;
  background-color: rgb(0, 128, 0);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: rgb(0, 100, 0);
}
