.dm-window {
  display: flex;
  flex-direction: column;
  height: 95%;
  padding: 10px;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(0, 255, 0);
  border-radius: 10px;
}

.dm-header {
  flex-shrink: 0;
}
.dm-content{
  font-size: 20px;
}
.dm-time{
  border-bottom: 1px solid rgb(0, 0, 0);
  font-style: italic;
}
.dm-messages {
  flex: 1;                    
  overflow-y: auto;          
  padding: 10px;
  border: 3px solid #ccc7c7;
  border-radius: 8px;
  background: #f9f9f9;
}
.dm-input-area {
  display: flex;
  margin: 10px;
  gap: 10px;
  flex-shrink: 0;             
}

.dm-input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 30px;
}
.dm-send-btn {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background: rgb(15, 179, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
}
.dm-send-btn:hover {
  background: #086100;
}
.dm-message {
  margin-bottom: 8px;
}
.incoming {
  text-align: left;
}
.outgoing {
  text-align: right;
}
.messages {
    margin-left: 250px;     
    height: 100vh;
    width: 800px;          
    display: flex;
    flex-direction: column;
    overflow: hidden;        
}