.overhead-text{
    color: rgb(255, 255, 255);
}
.confirm-password{
    height: 30px;
}
.errMsg{
    color:rgb(255, 0, 0);
    font-size: 30px;
}
.submitBtn{
    background-color:rgb(0, 255, 0);
    height: 50px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
}
.submitBtn:hover{
    background-color: rgb(3, 126, 3);
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.Acc{
    color: rgb(255, 255, 255);
}
.loginBtn{
    background-color:rgb(255, 255, 255);
}
.loginBtn:hover{
    color: rgb(255, 255, 255);
}