.SidebarOnly{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    padding: 1rem;
    overflow-y: auto;
    border-right: 1px solid rgb(0, 255, 0);
    color:rgb(255, 255, 255);
    
}
.users{
    color:rgb(255, 255, 255);
}
.channelList{
    list-style: none;
    padding:10px;
    margin:10px;
}
.chanBtns{
    font-size: 20px;
    background-color: rgb(0, 180, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}
.userList{
    list-style: none;
    padding:10px;
    margin:10px;
    color: rgb(255, 255, 255);
}
.userBtns{
    font-size: 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 180, 0);
    border-radius:10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}