.SidebarOnly{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    padding: 1 rem;
    overflow-y: auto;
    border-right: 1px solid green;
    color:rgb(255, 255, 255);
}
.users{
    color:rgb(255, 255, 255);
}
.channelList{
}
.userList{

}