.SidebarOnly{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    padding: 1rem;
    overflow-y: auto;
    border-right: 1px solid rgb(0, 255, 0);
    color:rgb(255, 255, 255);
    
}
.users{
    color:rgb(255, 255, 255);
}
.channelList{
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    padding: 0;
}
.chanInList{
    display:flex;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 10px;
    margin-top: 10px;
}
.create-channel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 3px solid rgb(0, 180, 0);
    border-radius: 10px;
}
.createInputChan{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
.createInputChoice{
    margin: 10px;
    font-size: 20px;
}
.createInputChoice:hover{
    background-color: rgb(124, 124, 124);
    cursor: pointer;
}
.createChanBtn{
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 180, 0);
}
.createChanBtn:hover{
    background-color: rgb(0, 180, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.chanBtns{
    font-size: 20px;
    background-color: rgb(0, 180, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}
.chanBtns:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 0);
}
.channelDelBtn{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    margin: 10px;
}
.channelDelBtn:hover{
    background-color: rgb(138, 0, 0);
    border: 1px solid rgb(138, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;

}
.userList{
    list-style: none;
    padding:10px;
    margin:10px;
    color: rgb(255, 255, 255);
}
.userListItem{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 2px;
}
.deleteUserBtns{
    margin-left: 10px;
    height: 40px;
    width: 130px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.deleteUserBtns:hover{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.userBtns{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 180, 0);
    border-radius:10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.logoutHandle{
    display:flex;
    justify-content: center;
}
.logoutBtn{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    font-size: 20px;
}
.logoutBtn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}