body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.start{
    color: rgb(0, 255, 0);
}
.welcome{
    text-align: center;
    font-size: 70px;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.loginBtn{
    width: 180px;
    height: 60px;
    background-color: rgb(0, 255, 0);
    font-size: 30px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
.loginBtn:hover{
    background-color: rgb(6, 122, 6);
}
.loginBtn:active{
    background-color: rgb(6, 122, 6);
    transform: translateY(2px);
    box-shadow: 0 2px #2e7d32
}
.registerBtn{
    width: 180px;
    height: 60px;
    background-color: rgb(11, 202, 11);
    font-size: 25px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
.registerBtn:hover{
    background-color: rgb(6, 122, 6);
}
.registerBtn:active{
    background-color: rgb(6, 122, 6);
    transform: translateY(2px);
    box-shadow: 0 2px #2e7d32
}

.guestBtn{
    width: 180px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: all 0.1s;
}
.guestBtn:hover{
    background-color: rgb(6, 122, 6);
}
.guestBtn:active{
    background-color: rgb(6, 122, 6);
    transform: translateY(2px);
    box-shadow: 0 2px #2e7d32
}